@font-face {
  font-family: "IM Fell English";
  font-style: normal;
  font-weight: 400;
  src: url("/static/ImFell.ttf") format("truetype");
}

@font-face {
  font-family: "IM Fell English";
  font-style: bold;
  font-weight: 700;
  src: url("/static/ImFell-SC.ttf") format("truetype");
}

@font-face {
  font-family: "IM Fell English";
  font-style: italic;
  font-weight: 400;
  src: url("/static/ImFell-i.ttf") format("truetype");
}


@font-face {
  font-family: "monoid";
  src: url("/static/monoid-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "monoid";
  src: url("/static/monoid-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/static/cooper-book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/static/cooper-book-i.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/static/cooper-heavy.otf") format("opentype");
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/static/cmunrm.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/static/cmunbx.ttf") format("truetype");
  font-weight: 900;
  font-style: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url("/static/cmunti.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

body {
  font-family: "monoid";
  margin-right: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-top: 0%;
}

.rot90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  position: absolute;
  top: 200px !important;
  width: 1300px;
  height: 1000px;
}

.monospace {
  font-family: "monoid";
  font-size: 83%;
}

.latex {
  font-family: "Computer Modern";
}

.serif {
  font-family: "IM Fell English", serif;
}

.sans {
  font-family: "Cooper Hewitt", sans-serif;
}

h1 {
  font-size: 105%;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
h2 {
  font-size: 104%;
  margin-top: 0.12em;
  margin-bottom: 0.12em;
}
h3 {
  font-size: 103%;
  margin-top: 0.13em;
  margin-bottom: 0.13em;
}
h4 {
  font-size: 102%;
  margin-top: 0.14em;
  margin-bottom: 0.14em;
}

.focus {
  background-color: rgba(0, 0, 0, 0.1);
  top: 50% !important;
}

.highlight {
  background-color: rgba(0, 0, 0, 0.2);
}

.small {
  font-size: 85%;
  display: block;
}

#container {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 0.3em;
  height: 1.9em;
  z-index: 10;
  background-color: rgba(251, 251, 251, 1);
}

#bottom {
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 0.3em;
  margin-bottom: 0.6em;
  height: 4em;
  min-height: 4em;
  max-height: 4em;
  z-index: 10;
  background-color: rgba(251, 251, 251, 1);
}

.rotbottom {
  bottom: -170px !important; /* So messy */
}

#fieldcontainer {
  margin-left: 1%;
  margin-right: 1%;
  min-height: 1000px;
  max-height: 1000px;
}

#field {
  position: relative;
  z-index: -1;
}

#modal {
  padding: 0.5em;
  display: none;
  position: absolute;
  width: 80%;
  left: 10%;
  top: 10%;
  border-radius: 9px;
  border: 1px solid black;
  z-index: 10;
  background: white;
}

#graph {
  display: none;
}

#filename {
  font-family: "monoid";
  font-size: 8pt;
  float: left;
  margin-left: 1%;
}

#saved {
  font-family: "monoid";
  font-size: 8pt;
  float: left;
}

#mode {
  width: 30%;
  text-align: right;
  font-family: "monoid";
  font-size: 8pt;
  float: right;
  margin-right: 3%;
}

#completions {
  margin-left: 1%;
  min-height: 1.5em;
  max-height: 1.5em;
  font-size: 8pt;
  width: 100%;
  display: block;
}
#status {
  margin-left: 1%;
  min-height: 1.5em;
  max-height: 1.5em;
  font-size: 8pt;
  width: 100%;
  display: block;
  /* By setting a fixed size it stops flickering on Kindle */
}

#caret {}

#insertion {
  margin-left: -0.1em;
  margin-right: 0em;
}

.normal {
  background-color: rgba(0, 0, 0, 0.3);
}

.ins {
  border-right: 2px solid black;
}
#ins0 {
  border-left: 2px solid black;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

/* Seriously, I had to do this to get IM Fell to have a nicer bold */
b {
  font-weight: bold;
  text-shadow: 1px 1px 1px black; 
}
