@font-face {
  font-family: "IM Fell English";
  font-style: normal;
  font-weight: 400;
  src: url("/static/ImFELL.ttf") format("truetype");
}

@font-face {
  font-family: "monoidregular";
  src: url("/static/monoid-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/static/cooper-book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-size: 12pt;
  font-family: "monoidregular";
  font-weight: 100;
  margin: 2%;
}

.monospace {
  font-family: "monoidregular";
  font-size: 83%;
}

.serif {
  font-family: "IM Fell English", serif;
}

.sans {
  font-family: "Cooper Hewitt", sans-serif;
}

h1 {
  font-size: 105%;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
h2 {
  font-size: 104%;
  margin-top: 0.12em;
  margin-bottom: 0.12em;
}
h3 {
  font-size: 103%;
  margin-top: 0.13em;
  margin-bottom: 0.13em;
}
h4 {
  font-size: 102%;
  margin-top: 0.14em;
  margin-bottom: 0.14em;
}

.focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.highlight {
  background-color: rgba(0, 0, 0, 0.2);
}

.small {
  font-size: 85%;
  display: block;
}

#container {
  border-bottom: 1px solid black;
  margin-bottom: 0.3em;
  height: 1em;
}
#field {
  min-height: 700px;
  max-height: 700px;
}

#filename {
  font-family: "monoidregular";
  font-size: 8pt;
  float: left;
}
#saved {
  font-family: "monoidregular";
  font-size: 8pt;
  float: left;
}
#mode {
  font-family: "monoidregular";
  font-size: 8pt;
  float: right;
}
#completions {
  font-size: 8pt;
}
#status {
  font-size: 8pt;
}
#insertion {
  margin-left: -0.1em;
  margin-right: 0em;
}
#normal {
  background-color: rgba(0, 0, 0, 0.3);
}
#ins {
  border-right: 2px solid black;
}
#ins0 {
  border-left: 2px solid black;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}
